html, body {
    margin: 0;
    font-size: 100%;
    min-width: 400px;
	font-family: 'Open Sans', sans-serif;
	background: #f1f1f1;
}
body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.a {
    outline: 1px solid red;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Poiret One', cursive;
    font-weight: 700;
}
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}
li {
    list-style: none;
}

.a {
    outline: 1px solid red;
}
.wrapper {
    display: flex;
    position: relative;
}




.dashbord-first, .dashbord-second {
    background: #fff;
    border-radius: 0.2em;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
    padding: 2em 1em;
}
.dashbord-second a .persons {
    padding: 0.3em 0.5em;
    display: block;
}
.contacts .dashbord-second a .persons:hover {
    background-color: #f5f5f5;
    border-radius: .4em
}
.main-info {
    background: #151515;
    padding: 2em;
    border-radius: 25px;
    /* overflow: hidden; */
    /* height: 313.6px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
.weather-top {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 7px;
}
.weather-top .fa-sun {
    font-size: 43px;
    color: yellow;
    animation: rotating 5s linear infinite
}
#currentCity {
    font-weight: 900;
    color: #f75757;
}
.weather-main-block p {
    color: white;
}
@keyframes rotating {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.weather-ul {
    display: flex;
    height: 10em;
}

.contacts img {
    border-radius: 50%;
}
.contacts .info p:first-child, .who {
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}
.contacts .info p:last-child {
    font-size: 13px;
}
.persons {
    justify-content: start;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
}
.persons .who {
    width: -webkit-fill-available;
    text-align: right;
}
#anotherCity:focus, #showWeather:focus {
    box-shadow: none;
}
#anotherCity {
    transition: 0.5s ease-in-out;
    transform: translateY(100%)
}
.weatherForm {
    display: flex;
    position: relative;
    padding-bottom: 6px;
    transition: 0.5s ease-in-out;
    align-items: end;
}
.anotherCity-block {
    text-align: right;
    overflow: hidden;
}
#error {
    position: absolute;
    color: #f75757;
    top: 37px;
    left: 0;
}
.card-body {
    position: relative;
}
.sl-content{
    margin-left: 24px;
}
.sl-item {
    position: relative;
    padding-bottom: 16px;
}
.sl-item:before {
    content: "";
    position: absolute;
    left: -6px;
    top: 0;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.border-danger:before{
    background-color: #dc3545;
}
.border-primary:before{
    background-color: #007bff;
}
.border-success:before {
    background-color: #28a745;
}
.border-secondary:before {
    background-color: #6c757d;
}

.border-warning:before {
    background-color: #ffc107;
}
.text-muted {
    color: inherit;
    opacity: .6;
    font-size: 14px;
}