html, body {
    margin: 0;
    font-size: 100%;
    min-width: 320px;
	font-family: 'Open Sans', sans-serif;
	background: #f1f1f1;
}
body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.a {
    outline: 1px solid red;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Poiret One', cursive;
    font-weight: 700;
}
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}
li {
    list-style: none;
}

.a {
    outline: 1px solid red;
}
.wrapper {
    display: flex;
    position: relative;
}
.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #4c6ef5;
    transition: all 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
}
.sidebar a {
    color: #fff;
}

.slider-header {
    padding: 20px 20px 20px 35px;
    background: #4463dc;
    text-align: left;
}
.slider-header h1 {
    font-size: 2.3em;
    letter-spacing: 3px;
    text-shadow: 2px 2px 3px #39393a;
    transition: .4s ease-in-out;
}

.slider-header h1.active  {
    transform: translateX(7px);
}
.odern {
    position: absolute;
    transition: .4s ease-in-out;
}
.odern.active {
    transform: translateX(200px);
    transition: .9s ease-in-out;
}
.profile-bg {
    background: url("https://picsum.photos/250/80")no-repeat 0px 0px;
    min-height: 100px;
    border: 1px solid #5d7cf7;
    border-left: none;
    border-right: none;
    background-size: cover;
}
.sidebar ul li a {
    display: block;
    padding: 16px 10px;
    font-size: 0.95em;
    letter-spacing: 0.6px;
    font-weight: 400;
}
.sidebar ul li a:hover {
    background: #fff;
    color: #4c6ef5;
}
.sidebar ul li i {
    margin-right: 10px;
    font-size: 19px;
    transition: all 0.5s ease-in-out;
}
.sidebar ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
    background: #4463dc;
    transition: all 0.5s ease-in-out;
}
.list-unstyled li {
    font-size: 14px;
    letter-spacing: 1px;
    color: #797979
}
.list-unstyled .active {
    background: #4463dc;
    color: #fff;
}
#content {
    padding: 20px;
    width: 100%;
    transition: 0.3s;
    min-height: 100vh;
}
.navbar {
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 0.2em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}
.navbar-btn {
    border: none;
    outline: none;
    background: #4463dc;
}
.form-inline .form-control {
    border: none;
    letter-spacing: 1px;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    outline: none;
}
.form-inline .form-control:focus {
    /* outline: none; */
    box-shadow: none;
}
.btn-info:hover {
    background-color: #e04646;
    color: #fff;
    border-color: #e04646;
}
.btn-info:focus {
    box-shadow: none;
}
.btn-style {
    background: #f75757;
    color: #fff;
    border-color: #e04646;
}
.top-icons-agileits a{
    padding: 8px 16px;
    position: relative;
}
.top-icons-agileits i{
    font-size: 17px;
    color: #4c6ef5;
}
.top-icons-agileits li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;

}
.top-icons-agileits i:hover{
    font-size: 17px;
    color: #4c6ef5;
}
.top-icons-agileits .badge{
    position: absolute;
    top: -4px;
    right: 7px;
    background: #ff6c5f;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    line-height: 13px;
    height: 17px;
    width: 17px;
}
.li-search {
    display: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.sidebar.active {
    min-width: 110px;
    max-width: 110px;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.sidebar.active .list-unstyled li a{
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}
.sidebar.active .list-unstyled i {
    margin: 0;
    font-size: 1.2em;
    transition: 0.5s ease-in-out;
}
.sidebar.active ul ul a{
    padding-left: 0;
    transition: 0.5s ease-in-out;
}

/* ---------------------------------------------------
    SIDEBAR STYLE Vary active
----------------------------------------------------- */

.sidebar.hideActive {
    transform: translateX(-250px);
    position: absolute;
    transition: all 0.5s ;
}
.navbarHideActive {
    /* position: static; */
    /* width: 94%; */
    /* top: 20px; */
    /* right: 20px; */
    transition: all 0.9s;
}
/* ================================================== */
.nav-item {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 30px;
    left: -90px;
    padding: 16px;
    min-width: 20rem;
    display: none;
}
.notif-img-agileinfo img {
    border-radius: 50px;
    box-shadow: 3px 3px 12px #a09e9e;

}
.email {
    font-size: 12px;
    display: block;
    padding: 0 !important;
}
.dropdown-item h4{
    font-size: 1em;
    letter-spacing: 1.5px;
    color: #8c8c8c;
}
.dropdown-item i{
    color: #000;
}
.nav-item:hover .dropdown-menu {
    display: block;
    /* height: 100% */
}

.drop-1 {
    min-width: 320px;
}
.drop-2 {
    left: -10rem;
}
.drop-3 {
    left: -13.3rem;
}
.dashbord-first, .dashbord-second {
    background: #fff;
    border-radius: 0.2em;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.25);
    padding: 2em 1em;
}
.contacts .dashbord-second a {
    background-color: #f5f5f5;
}
.main-info {
    background: #151515;
    padding: 2em;
    border-radius: 25px;
    overflow: hidden;
}
.weather-top h3 {
    font-weight: 900;
    color: #f75757;
}
.weather-top .fa-sun {
    font-size: 43px;
    color: yellow;
    animation: rotating 5s linear infinite
}
@keyframes rotating {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.weather-ul {
    display: flex;
    height: 10em;
}
.weather-bottom ul li {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    color: white;
    text-align: center;
    justify-content: space-around;
}
.weather-bottom ul li:nth-child(odd){
    background: rgba(37, 37, 37, 0.31);
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
}
.contacts img {
    border-radius: 50%;
}
.contacts .info p:first-child, .who {
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}
.contacts .info p:last-child {
    font-size: 13px;
}
.persons {
    justify-content: start;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
}
.persons .who {
    width: -webkit-fill-available;
    text-align: right;
}